.cart-container{
 display: flex;
 align-items: center;
 justify-content: center;
}
.remove-button{
    cursor: pointer;
    padding: 20px;
}
.add{
    width: 30px;
    height: 30px;
    margin:20px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.945);
    font-size: 18px;
}